body {
  font-family: 'Karla', sans-serif;
}

.app--maindiv {
  background-color: #0B2434;
  width: 360px;
  height: 380px;
  position: relative;
  margin-top: 100px;
  margin-left: 500px;
}

.app--subdiv {
  position: absolute;
  width: 320px;
  height: 320px;
  top: 30px;
  left: 20px;
  background-color: #F5F5F5;
  border-radius: 10px;
}

.info--title {
  font-size: 26px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #2B283A;
  margin-top: 30px;
  margin-bottom: 0px;
}

.info--instructions {
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #4A4E74;
  margin: 0 25px 25px 25px;
}

.playarea--maindiv {
  align-items: center;
}

.dice-grid {
  display: grid;
  grid-template: 36px 36px / 36px 36px 36px 36px 36px;
  gap: 20px 20px;
  margin-left: 27px;
  margin-right: 27px;
}

.dice, .dice-clicked {
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px #00000026;
  font-size: 21px;
  padding-top: 5px;
  text-align: center;
  cursor: pointer;
}

.dice {
  background-color: white;
}

.dice-clicked {
  background-color: #59E391;
}

.roll-button {
  margin-top: 30px;
  margin-left: 110px;
  background-color: #5035FF;
  width: 92px;
  height: 36px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 3px 8px 0px #0000002E;
  color: white;
  font-size: 16px;
  font-family: 'Karla', sans-serif;
  cursor: pointer;
}
